# Disciplina: Tópicos em Inteligência Computacional
Instituto Federal do Norte de Minas Gerais Campus Montes Claros <br/>
Curso: Ciência da Computação <br/>
Professora: Luciana Balieiro Cosme<br/>
**Aula 5: Exploração de outras bases de dados** <br/>

In [ ]:
import pandas
import matplotlib.pyplot as plt
import scipy.stats as stats

enade2017=pandas.read_csv("datasets/MICRODADOS_ENADE_2017.txt", sep=';',dtype={"DS_VT_ESC_OFG": str, 
                                                                               'DS_VT_ESC_OCE':str,
                                                                              'DS_VT_ACE_OCE':str,
                                                                              'NT_GER':str,
                                                                              'NT_FG':str,
                                                                              'NT_OBJ_FG':str,
                                                                              'NT_DIS_FG':str,
                                                                              'NT_CE':str,
                                                                              'NT_OBJ_CE':str,
                                                                              'NT_DIS_CE':str})


#enade2017.shape

In [ ]:
#enade2017.columns[0:]

In [ ]:
tabela = pandas.DataFrame(enade2017, columns=['NT_GER', 'CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 
'CO_MODALIDADE', 'CO_UF_CURSO', 'CO_REGIAO_CURSO', 'NU_IDADE','TP_SEXO',
'QE_I01', 
'QE_I02', 'QE_I03', 'QE_I04', 'QE_I05', 'QE_I06', 'QE_I07', 'QE_I08', 'QE_I09', 'QE_I10',
'QE_I12',
'QE_I13', 'QE_I14', 'QE_I15', 'QE_I16', 'QE_I17', 'QE_I18', 'QE_I19', 'QE_I20', 'QE_I21',
'QE_I22',
'QE_I23','QE_I24','QE_I25','QE_I26','QE_I27','QE_I28','QE_I29','QE_I30','QE_I31','QE_I32',
'QE_I33','QE_I34','QE_I35','QE_I36','QE_I37','QE_I38','QE_I39','QE_I40','QE_I41',
'QE_I42','QE_I43','QE_I44','QE_I45','QE_I46','QE_I47','QE_I48','QE_I49','QE_I50',
'QE_I51','QE_I52','QE_I53','QE_I54','QE_I55','QE_I56','QE_I57','QE_I58','QE_I59','QE_I60',
'QE_I61','QE_I62','QE_I63','QE_I64','QE_I65','QE_I66','QE_I67','QE_I68','QE_I69','QE_I70',
'QE_I71','QE_I72','QE_I73','QE_I74','QE_I75','QE_I76','QE_I77','QE_I78','QE_I79','QE_I80',
'QE_I81'])

In [ ]:
tabela['NT_GER'] = tabela['NT_GER'].str.replace(',', '.')
tabela=tabela.loc[(tabela['NT_GER'].notnull())]
#tabela['NT_GER'] = pandas.to_numeric(tabela['NT_GER'])
#tabela.to_csv("dados.csv")

In [ ]:
col_numericos = ['NT_GER', 'CO_IES','CO_CATEGAD', 'CO_ORGACAD', 'CO_MODALIDADE', 'CO_UF_CURSO', 'CO_REGIAO_CURSO', 'NU_IDADE',
'QE_I16', 'QE_I27', 'QE_I28', 'QE_I29', 'QE_I30', 'QE_I31', 'QE_I32', 'QE_I33', 'QE_I34', 'QE_I35', 'QE_I36', 'QE_I37', 'QE_I38',
'QE_I39', 'QE_I40', 'QE_I41', 'QE_I42', 'QE_I43', 'QE_I44', 'QE_I45', 'QE_I46', 'QE_I47', 'QE_I48', 'QE_I49', 'QE_I50', 'QE_I51',
'QE_I52', 'QE_I53', 'QE_I54', 'QE_I55', 'QE_I56', 'QE_I57', 'QE_I58', 'QE_I59', 'QE_I60','QE_I61', 'QE_I62', 'QE_I63', 'QE_I64',
'QE_I65', 'QE_I66', 'QE_I67', 'QE_I68']

In [ ]:
tabela=tabela.loc[(tabela['NT_GER'].notnull())]
#print(tabela['NT_GER'])
#print(tabela[col_numericos[1]])

for i in range(len(col_numericos)):
    tabela=tabela.loc[(tabela[col_numericos[i]].notnull())]
# 
# de str para float
# tabela[['NT_GER', 'CO_IES']] = tabela[['NT_GER', 'CO_IES']].apply(pandas.to_numeric)

In [ ]:
tabela[col_numericos] = tabela[col_numericos].apply(pandas.to_numeric)

In [ ]:
tabela
tabela[col_numericos].to_csv("datasets/numericos.csv")